p{
    font-style: italic;
    font-size: large;
}
h1{
    font-style: italic;
}
div{
    border: solid;
    padding: 10px;
}
.1{
    font-style: italic;
}
ul{
    font-style: italic;
    font-size: large;
}